.header a:link {
	color: #960909;
	text-decoration: none;
}
.header a:visited {
	text-decoration: none;
	color: #960909;
}
.header a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.header a:active {
	text-decoration: none;
	color: #FFFFFF;
}
.header .style35 {font-family: Verdana}
.header .style40 {color: #960909}
.header .style42 {font-size: 14px}


.header .navbar {
	width: 100%;
	background-color: #CCECFF;
	list-style-type: none;
	
	margin: 0;
	
	padding-left: 0;
	
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
}

.header .navbar li {
	width: 14%;
	height: 20px;
	display: inline-block;
	text-align: center;
}

.header .navbar li a {
	text-decoration: none;
	color: black;
}